<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/navigation.css">
</head>
<link rel="stylesheet" href="/css/main.css">

<body>
   
    <h1>Some error Occured...</h1>
    <p>sorry for inconvinence.</p>